In [1]:
#pip install geopy

Collecting geopy
  Downloading geopy-1.21.0-py2.py3-none-any.whl (104 kB)
     |████████████████████████████████| 104 kB 1.3 MB/s eta 0:00:01
Collecting geographiclib<2,>=1.49
  Downloading geographiclib-1.50-py3-none-any.whl (38 kB)
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-1.50 geopy-1.21.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
# mapping country to continent:
country_continent = {
    'Algeria':'Africa',
    'Angola':'Africa',
    'Benin':'Africa',
    'Botswana':'Africa',
    'Burkina Faso':'Africa',
    'Burundi':'Africa',
    'Cabo Verde':'Africa',
    'Cameroon':'Africa',
    'Central African Republic':'Africa',
    'Chad':'Africa',
    'Comoros':'Africa',
    'Congo (Brazzaville)':'Africa',
    'Congo (Kinshasa)':'Africa',
    'Djibouti':'Africa',
    'Egypt':'Africa',
    'Equatorial Guinea':'Africa',
    'Eritrea':'Africa',
    'Eswatini':'Africa',
    'Ethiopia':'Africa',
    'Gabon':'Africa',
    'Gambia':'Africa',
    'Ghana':'Africa',
    'Guinea':'Africa',
    'Guinea-Bissau':'Africa',
    'Ivory Coast':'Africa',
    'Kenya':'Africa',
    'Liberia':'Africa',
    'Libya':'Africa',
    'Madagascar':'Africa',
    'Malawi':'Africa',
    'Mali':'Africa',
    'Mauritania':'Africa',
    'Mauritius':'Africa',
    'Morocco':'Africa',
    'Mozambique':'Africa',
    'Namibia':'Africa',
    'Niger':'Africa',
    'Nigeria':'Africa',
    'Rwanda':'Africa',
    'Sao Tome and Principe':'Africa',
    'Senegal':'Africa',
    'Seychelles':'Africa',
    'Sierra Leone':'Africa',
    'Somalia':'Africa',
    'South Africa':'Africa',
    'South Sudan':'Africa',
    'Sudan':'Africa',
    'Tanzania':'Africa',
    'Togo':'Africa',
    'Tunisia':'Africa',
    'Uganda':'Africa',
    'Western Sahara':'Africa',
    'Zambia':'Africa',
    'Zimbabwe':'Africa',
    'Antigua and Barbuda':'America',
    'Argentina':'America',
    'Bahamas':'America',
    'Barbados':'America',
    'Belize':'America',
    'Bolivia':'America',
    'Brazil':'America',
    'Canada':'America',
    'Chile':'America',
    'Colombia':'America',
    'Costa Rica':'America',
    'Cuba':'America',
    'Dominica':'America',
    'Dominican Republic':'America',
    'Ecuador':'America',
    'El Salvador':'America',
    'Grenada':'America',
    'Guatemala':'America',
    'Guyana':'America',
    'Haiti':'America',
    'Honduras':'America',
    'Jamaica':'America',
    'Mexico':'America',
    'Nicaragua':'America',
    'Panama':'America',
    'Paraguay':'America',
    'Peru':'America',
    'Saint Kitts and Nevis':'America',
    'Saint Lucia':'America',
    'Saint Vincent and the Grenadines':'America',
    'Suriname':'America',
    'Trinidad and Tobago':'America',
    'United States of America':'America',
    'Uruguay':'America',
    'Venezuela':'America',
    'Afghanistan':'Asia-Pacific',
    'Australia':'Asia-Pacific',
    'Bahrain':'Asia-Pacific',
    'Bangladesh':'Asia-Pacific',
    'Bhutan':'Asia-Pacific',
    'Brunei':'Asia-Pacific',
    'Cambodia':'Asia-Pacific',
    'China':'Asia-Pacific',
    'East Timor':'Asia-Pacific',
    'Fiji':'Asia-Pacific',
    'Hong Kong':'Asia-Pacific',
    'India':'Asia-Pacific',
    'Indonesia':'Asia-Pacific',
    'Iran':'Asia-Pacific',
    'Iraq':'Asia-Pacific',
    'Israel':'Asia-Pacific',
    'Japan':'Asia-Pacific',
    'Jordan':'Asia-Pacific',
    'Kuwait':'Asia-Pacific',
    'Kyrgyzstan':'Asia-Pacific',
    'Laos':'Asia-Pacific',
    'Lebanon':'Asia-Pacific',
    'Malaysia':'Asia-Pacific',
    'Maldives':'Asia-Pacific',
    'Mongolia':'Asia-Pacific',
    'Myanmar':'Asia-Pacific',
    'Nepal':'Asia-Pacific',
    'New Zealand':'Asia-Pacific',
    'Oman':'Asia-Pacific',
    'Pakistan':'Asia-Pacific',
    'Papua New Guinea':'Asia-Pacific',
    'Philippines':'Asia-Pacific',
    'Qatar':'Asia-Pacific',
    'Saudi Arabia':'Asia-Pacific',
    'Singapore':'Asia-Pacific',
    'South Korea':'Asia-Pacific',
    'Sri Lanka':'Asia-Pacific',
    'Syria':'Asia-Pacific',
    'Taiwan':'Asia-Pacific',
    'Tajikistan':'Asia-Pacific',
    'Thailand':'Asia-Pacific',
    'United Arab Emirates':'Asia-Pacific',
    'Uzbekistan':'Asia-Pacific',
    'Vietnam':'Asia-Pacific',
    'West Bank and Gaza':'Asia-Pacific',
    'Yemen':'Asia-Pacific',
    'Armenia':'Eurasia',
    'Azerbaijan':'Eurasia',
    'Cyprus':'Eurasia',
    'Georgia':'Eurasia',
    'Kazakhstan':'Eurasia',
    'Russia':'Eurasia',
    'Turkey':'Eurasia',
    'Albania':'Europe',
    'Andorra':'Europe',
    'Austria':'Europe',
    'Belarus':'Europe',
    'Belgium':'Europe',
    'Bosnia and Herzegovina':'Europe',
    'Bulgaria':'Europe',
    'Croatia':'Europe',
    'Czechia':'Europe',
    'Denmark':'Europe',
    'Estonia':'Europe',
    'Finland':'Europe',
    'France':'Europe',
    'Germany':'Europe',
    'Greece':'Europe',
    'Hungary':'Europe',
    'Iceland':'Europe',
    'Ireland':'Europe',
    'Italy':'Europe',
    'Kosovo':'Europe',
    'Latvia':'Europe',
    'Liechtenstein':'Europe',
    'Lithuania':'Europe',
    'Luxembourg':'Europe',
    'Malta':'Europe',
    'Moldova':'Europe',
    'Monaco':'Europe',
    'Montenegro':'Europe',
    'Netherlands':'Europe',
    'North Macedonia':'Europe',
    'Norway':'Europe',
    'Poland':'Europe',
    'Portugal':'Europe',
    'Romania':'Europe',
    'San Marino':'Europe',
    'Serbia':'Europe',
    'Slovakia':'Europe',
    'Slovenia':'Europe',
    'Spain':'Europe',
    'Sweden':'Europe',
    'Switzerland':'Europe',
    'Ukraine':'Europe',
    'United Kingdom':'Europe',
    'Vatican City':'Europe',
    'Diamond Princess':'Ships',
    'MS Zaandam':'Ships',
    'US':'Doubled'
}

In [3]:
# mapping month:
month_description = {
     1:'01: January',
     2:'02: February',
     3:'03: March',
     4:'04: April',
     5:'05: May',
     6:'06: June',
     7:'07: July',
     8:'08: August',
     9:'09: September',
    10:'10: October',
    11:'11: November',
    12:'12: December'
}

In [4]:
# mapping quarter:
quarter_description = {
    1:'1st Quarter',
    2:'2nd Quarter',
    3:'3rd Quarter',
    4:'4th Quarter'
}

In [5]:
# extract data:
import pandas as pd

url='https://github.com/CSSEGISandData/COVID-19/raw/master/csse_covid_19_data/csse_covid_19_time_series/'
df_global_confirmed = pd.read_csv(url+'time_series_covid19_confirmed_global.csv', index_col=[                                                  'Province/State', 'Country/Region', 'Lat', 'Long'                 ]).stack().to_frame()
df_global_recovered = pd.read_csv(url+'time_series_covid19_recovered_global.csv', index_col=[                                                  'Province/State', 'Country/Region', 'Lat', 'Long'                 ]).stack().to_frame()
df_global_deaths    = pd.read_csv(url+'time_series_covid19_deaths_global.csv'   , index_col=[                                                  'Province/State', 'Country/Region', 'Lat', 'Long'                 ]).stack().to_frame()
df_us_confirmed     = pd.read_csv(url+'time_series_covid19_confirmed_US.csv'    , index_col=['UID', 'iso2', 'iso3', 'code3', 'FIPS', 'Admin2', 'Province_State', 'Country_Region', 'Lat', 'Long_', 'Combined_Key']).stack().to_frame()
df_us_deaths        = pd.read_csv(url+'time_series_covid19_deaths_US.csv'       , index_col=['UID', 'iso2', 'iso3', 'code3', 'FIPS', 'Admin2', 'Province_State', 'Country_Region', 'Lat', 'Long_', 'Combined_Key']).stack().to_frame()

In [6]:
# transform and clean 'global':
df_global = pd.concat([df_global_confirmed, df_global_recovered, df_global_deaths], axis=1).fillna(0).reset_index()
df_global.drop(columns=['Lat', 'Long'], inplace=True) # we create latitude and longitude with geopy
df_global.columns = ['State', 'Country', 'Date', 'Confirmed_Total', 'Recovered_Total', 'Deaths_Total']
df_global['Country'].replace({'Timor-Leste'  :'East Timor',
                              "Cote d'Ivoire":'Ivory Coast',
                              'Burma'        :'Myanmar',
                              'Korea, South' :'South Korea',
                              'Taiwan*'      :'Taiwan',
                              'Holy See'     :'Vatican City'}, inplace=True)
df_global['State'].fillna(df_global['Country'], inplace=True)
df_global = df_global.astype({'Date':'datetime64'})
df_global

,State,Country,Date,Confirmed_Total,Recovered_Total,Deaths_Total
0,Afghanistan,Afghanistan,2020-01-22,0.0,0.0,0.0
1,Afghanistan,Afghanistan,2020-01-23,0.0,0.0,0.0
2,Afghanistan,Afghanistan,2020-01-24,0.0,0.0,0.0
3,Afghanistan,Afghanistan,2020-01-25,0.0,0.0,0.0
4,Afghanistan,Afghanistan,2020-01-26,0.0,0.0,0.0
...,...,...,...,...,...,...
29675,Yemen,Yemen,2020-05-02,0.0,1.0,0.0
29676,Yemen,Yemen,2020-05-03,0.0,1.0,0.0
29677,Yemen,Yemen,2020-05-04,0.0,1.0,0.0
29678,Yemen,Yemen,2020-05-05,0.0,1.0,0.0
29679,Yemen,Yemen,2020-05-06,0.0,1.0,0.0

In [7]:
# transform and clean 'US':
df_us = pd.concat([df_us_confirmed, df_us_deaths], axis=1).fillna(0).reset_index()
df_us.drop(columns=['UID', 'iso2', 'iso3', 'code3', 'FIPS', 'Admin2', 'Lat', 'Long_', 'Combined_Key'], inplace=True)
df_us.columns = ['State', 'Country', 'Date', 'Confirmed_Total', 'Deaths_Total']
df_us['Country'].replace({'US':'United States of America'}, inplace=True)
df_us = df_us[df_us['Date']!='Population'] # we don't use population in this model
df_us = df_us.astype({'Date':'datetime64'})
df_us

,State,Country,Date,Confirmed_Total,Deaths_Total
0,American Samoa,United States of America,2020-01-22,0.0,0
1,American Samoa,United States of America,2020-01-23,0.0,0
2,American Samoa,United States of America,2020-01-24,0.0,0
3,American Samoa,United States of America,2020-01-25,0.0,0
4,American Samoa,United States of America,2020-01-26,0.0,0
...,...,...,...,...,...
349981,Grand Princess,United States of America,2020-05-02,103.0,3
349982,Grand Princess,United States of America,2020-05-03,103.0,3
349983,Grand Princess,United States of America,2020-05-04,103.0,3
349984,Grand Princess,United States of America,2020-05-05,103.0,3
349985,Grand Princess,United States of America,2020-05-06,103.0,3

In [8]:
# merge 'global' and 'US' into 'staging':
df_staging = pd.concat([df_global, df_us]).fillna(0).reset_index(drop=True)

# map continent:
df_staging['Continent'] = df_staging['Country'].map(country_continent)

# sort and aggregate:
df_staging = (df_staging.sort_values(by=['Continent', 'Country', 'State', 'Date'])
                        .groupby(['Continent', 'Country', 'State', 'Date'])
                        .agg(sum)).reset_index()

# add unique country ID:
df_staging['State'].mask(df_staging['State']==df_staging['Country'], '', inplace=True)
df_staging['Country-ID'] = df_staging['Continent']+' '+df_staging['Country']+' '+df_staging['State']
df_staging['Country-ID'] = (df_staging['Country-ID'].str.strip()
                                                    .str.lower()
                                                    .str.replace( ' ', '-', regex=False)
                                                    .str.replace( ',', '-', regex=False)
                                                    .str.replace( '(', '-', regex=False)
                                                    .str.replace( ')', '-', regex=False)
                                                    .str.replace('--', '-', regex=False)
                                                    .str.strip('-'))

# add latitude and longitude:
from time import sleep
from geopy.exc import GeocoderTimedOut
from geopy.geocoders import Nominatim

geolocator = Nominatim(user_agent="covid19-star-schema")

def geolocate(request, attempt=1, max_attempts=5):
    sleep(0.3) # delay to reduce timeouts
    try:
        return geolocator.geocode(request)
    except GeocoderTimedOut:
        if attempt <= max_attempts:
            return geolocate(request, attempt=attempt+1)
        raise

df_geo = pd.DataFrame({'Country-ID':df_staging['Country-ID'],
                       'Country':df_staging['Country'],
                       'State':df_staging['State'],
                       'Latitude':0.0,
                       'Longitude':0.0}).drop_duplicates().reset_index(drop=True)

for index, row in df_geo.iterrows():
    location = geolocate(row['Country']+' '+row['State'])
    if (location is not None) and (row['Country-ID'] not in ['ships-diamond-princess', 'ships-ms-zaandam']):
        df_geo.at[index,'Latitude'] = location.latitude
        df_geo.at[index,'Longitude'] = location.longitude

df_geo.drop(columns=['Country', 'State'], inplace=True)
df_geo.to_csv('data/MAP_Geo.csv')

df_staging['Latitude'] = df_staging['Country-ID'].map(dict(zip(df_geo['Country-ID'], df_geo['Latitude'])))
df_staging['Longitude'] = df_staging['Country-ID'].map(dict(zip(df_geo['Country-ID'], df_geo['Longitude'])))

# restructure:
df_staging = df_staging.reindex(columns=['Country-ID', 'Continent', 'Country', 'State', 'Latitude', 'Longitude', 'Date', 'Confirmed_Total', 'Recovered_Total', 'Deaths_Total'])

In [9]:
# add measurement 'absolute values per day':
df_staging['Confirmed_AbsPerDay'] = df_staging.groupby(['Continent', 'Country', 'State'], as_index=False)[['Confirmed_Total']].diff().fillna(0).astype('int64')
df_staging['Recovered_AbsPerDay'] = df_staging.groupby(['Continent', 'Country', 'State'], as_index=False)[['Recovered_Total']].diff().fillna(0).astype('int64')
df_staging[   'Deaths_AbsPerDay'] = df_staging.groupby(['Continent', 'Country', 'State'], as_index=False)[[   'Deaths_Total']].diff().fillna(0).astype('int64')

# add measurement 'average values per day':
df_staging['Confirmed_AvgPerDay'] = df_staging.groupby(['Continent', 'Country', 'State'], as_index=False)[['Confirmed_AbsPerDay']].rolling(7).mean().fillna(0).round(decimals=2).reset_index(drop=True) # we use a 7 day rolling average
df_staging['Recovered_AvgPerDay'] = df_staging.groupby(['Continent', 'Country', 'State'], as_index=False)[['Recovered_AbsPerDay']].rolling(7).mean().fillna(0).round(decimals=2).reset_index(drop=True)
df_staging[   'Deaths_AvgPerDay'] = df_staging.groupby(['Continent', 'Country', 'State'], as_index=False)[[   'Deaths_AbsPerDay']].rolling(7).mean().fillna(0).round(decimals=2).reset_index(drop=True)

# add measurement 'days since 1000 confirmed cases':
df_staging['Confirmed_DaysSince1000'] = df_staging.loc[df_staging['Confirmed_Total']>=1000].groupby(['Continent', 'Country', 'State'], as_index=False).cumcount()+1
df_staging['Recovered_DaysSince1000'] = df_staging.loc[df_staging['Recovered_Total']>=1000].groupby(['Continent', 'Country', 'State'], as_index=False).cumcount()+1
df_staging[   'Deaths_DaysSince1000'] = df_staging.loc[df_staging[   'Deaths_Total']>=1000].groupby(['Continent', 'Country', 'State'], as_index=False).cumcount()+1
df_staging.fillna(0, inplace=True)

In [10]:
# load staging table:
df_staging = df_staging.astype({'Confirmed_Total':'int64', 'Recovered_Total':'int64', 'Deaths_Total':'int64', 'Confirmed_DaysSince1000':'int64', 'Recovered_DaysSince1000':'int64', 'Deaths_DaysSince1000':'int64'})
df_staging.to_csv('data/Staging.csv')
df_staging

,Country-ID,Continent,Country,State,Latitude,Longitude,Date,Confirmed_Total,Recovered_Total,Deaths_Total,Confirmed_AbsPerDay,Recovered_AbsPerDay,Deaths_AbsPerDay,Confirmed_AvgPerDay,Recovered_AvgPerDay,Deaths_AvgPerDay,Confirmed_DaysSince1000,Recovered_DaysSince1000,Deaths_DaysSince1000
0,africa-algeria,Africa,Algeria,,28.000027,2.999983,2020-01-22,0,0,0,0,0,0,0.0,0.0,0.0,0,0,0
1,africa-algeria,Africa,Algeria,,28.000027,2.999983,2020-01-23,0,0,0,0,0,0,0.0,0.0,0.0,0,0,0
2,africa-algeria,Africa,Algeria,,28.000027,2.999983,2020-01-24,0,0,0,0,0,0,0.0,0.0,0.0,0,0,0
3,africa-algeria,Africa,Algeria,,28.000027,2.999983,2020-01-25,0,0,0,0,0,0,0.0,0.0,0.0,0,0,0
4,africa-algeria,Africa,Algeria,,28.000027,2.999983,2020-01-26,0,0,0,0,0,0,0.0,0.0,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34445,ships-ms-zaandam,Ships,MS Zaandam,,0.000000,0.000000,2020-05-02,9,0,2,0,0,0,0.0,0.0,0.0,0,0,0
34446,ships-ms-zaandam,Ships,MS Zaandam,,0.000000,0.000000,2020-05-03,9,0,2,0,0,0,0.0,0.0,0.0,0,0,0
34447,ships-ms-zaandam,Ships,MS Zaandam,,0.000000,0.000000,2020-05-04,9,0,2,0,0,0,0.0,0.0,0.0,0,0,0
34448,ships-ms-zaandam,Ships,MS Zaandam,,0.000000,0.000000,2020-05-05,9,0,2,0,0,0,0.0,0.0,0.0,0,0,0
34449,ships-ms-zaandam,Ships,MS Zaandam,,0.000000,0.000000,2020-05-06,9,0,2,0,0,0,0.0,0.0,0.0,0,0,0

In [11]:
# load dimension 'Country':
df_Country = pd.DataFrame({'Country-ID':df_staging['Country-ID'],
                           'State':df_staging['State'],
                           'Country':df_staging['Country'],
                           'Continent':df_staging['Continent'],
                           'Total':'Total',
                           'Latitude':df_staging['Latitude'],
                           'Longitude':df_staging['Longitude']}).drop_duplicates().reset_index(drop=True)
df_Country.loc[df_Country['Country']=='US', 'Total'] = '' # 'US' not part of 'Total' hierarchy
df_Country.to_csv('data/DIM_Country.csv')
df_Country

,Country-ID,State,Country,Continent,Total,Latitude,Longitude
0,africa-algeria,,Algeria,Africa,Total,28.000027,2.999983
1,africa-angola,,Angola,Africa,Total,-11.877577,17.569124
2,africa-benin,,Benin,Africa,Total,9.529347,2.258441
3,africa-botswana,,Botswana,Africa,Total,-23.168178,24.592874
4,africa-burkina-faso,,Burkina Faso,Africa,Total,12.075308,-1.688031
...,...,...,...,...,...,...,...
320,europe-united-kingdom-turks-and-caicos-islands,Turks and Caicos Islands,United Kingdom,Europe,Total,0.000000,0.000000
321,europe-united-kingdom,,United Kingdom,Europe,Total,54.702354,-3.276575
322,europe-vatican-city,,Vatican City,Europe,Total,41.903815,12.453153
323,ships-diamond-princess,,Diamond Princess,Ships,Total,0.000000,0.000000
324,ships-ms-zaandam,,MS Zaandam,Ships,Total,0.000000,0.000000

In [12]:
# load dimension 'Time':
df_Time = pd.DataFrame({'Day':df_staging['Date'],
                        'Month':df_staging['Date'].dt.month.map(month_description),
                        'Quarter':df_staging['Date'].dt.quarter.map(quarter_description),
                        'Year':df_staging['Date'].dt.year}).drop_duplicates().reset_index(drop=True)
df_Time.to_csv('data/DIM_Time.csv')
df_Time

           Day        Month      Quarter  Year
0   2020-01-22  01: January  1st Quarter  2020
1   2020-01-23  01: January  1st Quarter  2020
2   2020-01-24  01: January  1st Quarter  2020
3   2020-01-25  01: January  1st Quarter  2020
4   2020-01-26  01: January  1st Quarter  2020
..         ...          ...          ...   ...
101 2020-05-02      05: May  2nd Quarter  2020
102 2020-05-03      05: May  2nd Quarter  2020
103 2020-05-04      05: May  2nd Quarter  2020
104 2020-05-05      05: May  2nd Quarter  2020
105 2020-05-06      05: May  2nd Quarter  2020

[106 rows x 4 columns]

In [13]:
# load dimension 'DaysSince1000':
df_DaysSince1000 = pd.DataFrame({'DaysSince1000':range(max(df_staging['Confirmed_DaysSince1000'].unique().tolist()
                                                          +df_staging['Recovered_DaysSince1000'].unique().tolist()
                                                          +df_staging[   'Deaths_DaysSince1000'].unique().tolist())),
                                 'Total':'Total'}).drop_duplicates().reset_index(drop=True)
df_DaysSince1000.to_csv('data/DIM_DaysSince1000.csv')
df_DaysSince1000

     DaysSince1000  Total
0                0  Total
1                1  Total
2                2  Total
3                3  Total
4                4  Total
..             ...    ...
97              97  Total
98              98  Total
99              99  Total
100            100  Total
101            101  Total

[102 rows x 2 columns]

In [14]:
# load dimension 'Cases':
df_Cases = pd.DataFrame({'Cases':['Confirmed', 'Recovered', 'Deaths']})
df_Cases.to_csv('data/DIM_Cases.csv')
df_Cases

       Cases
0  Confirmed
1  Recovered
2     Deaths

In [15]:
# load dimension 'Datatype':
df_Datatype = pd.DataFrame({'Datatype':['AbsPerDay', 'AvgPerDay', 'Total']})
df_Datatype.to_csv('data/DIM_Datatype.csv')
df_Datatype

    Datatype
0  AbsPerDay
1  AvgPerDay
2      Total

In [16]:
# load fact table:
df_Fact = df_staging
df_Fact.set_index(['Country-ID', 'Continent', 'Country', 'State', 'Latitude', 'Longitude', 'Date', 'Confirmed_DaysSince1000', 'Recovered_DaysSince1000', 'Deaths_DaysSince1000'], inplace=True)
df_Fact = df_Fact.stack().to_frame().reset_index()
df_Fact.columns = ['Country-ID', 'Continent', 'Country', 'State', 'Latitude', 'Longitude', 'Time', 'Confirmed_DaysSince1000', 'Recovered_DaysSince1000', 'Deaths_DaysSince1000', 'Cases_Datatype', 'Value']
df_Fact[['Cases','Datatype']] = df_Fact['Cases_Datatype'].str.split('_', expand=True)
df_Fact['DaysSince1000'] = 0
df_Fact.loc[df_Fact['Cases']=='Confirmed', 'DaysSince1000'] = df_Fact['Confirmed_DaysSince1000']
df_Fact.loc[df_Fact['Cases']=='Recovered', 'DaysSince1000'] = df_Fact['Recovered_DaysSince1000']
df_Fact.loc[df_Fact['Cases']==   'Deaths', 'DaysSince1000'] = df_Fact[   'Deaths_DaysSince1000']
df_Fact.drop(columns=['Continent', 'Country', 'State', 'Latitude', 'Longitude', 'Confirmed_DaysSince1000', 'Recovered_DaysSince1000', 'Deaths_DaysSince1000', 'Cases_Datatype'], inplace=True)
df_Fact = df_Fact.reindex(columns=['Country-ID', 'Time', 'DaysSince1000', 'Cases', 'Datatype', 'Value'])
df_Fact = df_Fact[df_Fact['Value']!=0].reset_index(drop=True)
df_Fact.to_csv('data/FACT_Covid19.csv')
df_Fact

,Country-ID,Time,DaysSince1000,Cases,Datatype,Value
0,africa-algeria,2020-02-25,0,Confirmed,Total,1.00
1,africa-algeria,2020-02-25,0,Confirmed,AbsPerDay,1.00
2,africa-algeria,2020-02-25,0,Confirmed,AvgPerDay,0.14
3,africa-algeria,2020-02-26,0,Confirmed,Total,1.00
4,africa-algeria,2020-02-26,0,Confirmed,AvgPerDay,0.14
...,...,...,...,...,...,...
114816,ships-ms-zaandam,2020-05-04,0,Deaths,Total,2.00
114817,ships-ms-zaandam,2020-05-05,0,Confirmed,Total,9.00
114818,ships-ms-zaandam,2020-05-05,0,Deaths,Total,2.00
114819,ships-ms-zaandam,2020-05-06,0,Confirmed,Total,9.00
114820,ships-ms-zaandam,2020-05-06,0,Deaths,Total,2.00